<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
</head
>
<body>

    <!-- background -->
    <div id="app" class="bg">

        <!-- container -->
        <div class="container">


            <!-- side-bar -->
            <aside>

                <!-- side-top -->
                <div class="top">
                    <div class="user-layout">
                        <img class="avatar" src="img/avatar_io.jpg">
                        <span class="name">Nome Utente</span>
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- fine side-top -->

                <!-- notifiche -->
                <div class="notifications">
                    <div class="bell-icon">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    
                    <div class="side-txt">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- fine notifiche -->

                <!-- barra ricerca -->
                <div class="searchbar-wrap">
                    <div class="searchbar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- fine barra ricerca -->

                <!-- contatti -->
                <div class="contacts">
                    <div v-for="(contact, index) in contacts">
                        <!-- :class="{'active': contact.visible}" -->
                        <div class="contact user-layout" @click="makeVisible(index)">
                            <img class="avatar" :src=" 'img/avatar' + contact.avatar + '.jpg' ">
                            <div class="side-txt">
                                <span class="name">{{contact.name}}</span>
                                <span class="last-txt">{{getLastText(index)}}</span>
                            </div>
                        <span class="last-message">{{getLastDate(index)}}</span>
                    </div>
                    </div>
                    
                </div>
                <!-- fine contatti -->


            </aside>
            <!-- fine sidebar -->



            <!-- main -->
            <main>
                <!-- main top -->
                <div class="top">
                    <div class="user-layout" v-for="(contact, index) in contacts" v-if="contact.visible">
                        
                            <img class="avatar" :src=" 'img/avatar' + contact.avatar + '.jpg' ">
                            <div class="side-txt">
                                <span class="name">{{contact.name}}</span>
                                <span class="last-access">
                                    <span>Ultimo accesso</span>
                                    <span>{{getLastDate(index)}}</span>
                                </span>
                            </div>
                        
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- fine main top -->

                <!-- messaggi -->
                <div class="messages">
                    <div v-for="(contact, index) in contacts">
                        <div v-if="contact.visible">
                            <div v-for="message in contact.messages">

                                <div class="message" :class="message.status">
                                    <span>{{message.text}}</span>
                                    <span class="last-message">{{message.date}}</span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- <div class="message sent">
                        <span>Ricordati di dargli da mangiare</span>
                        <span class="last-message">10/01/2020 15:30:00</span>
                    </div>
                    <div class="message received">
                        <span>Tutto fatto!</span>
                        <span class="last-message">10/01/2020 15:30:22</span>
                    </div> -->
                </div>
                <!-- fine messaggi -->

                <!-- invio messaggi -->
                <div class="main-input">
                    <i class="fa-regular fa-face-smile"></i>
                    <input
                        type="text"
                        placeholder="Scrivi un messaggio"
                        ref="myFocus"
                        v-model="newText"
                        v-on:keyup.enter="addMessage(newText)"
                    >
                    <i class="fa-solid fa-microphone"></i>
                </div>
                <!-- fine invio messaggi -->

            </main>
            <!-- fine main -->
        </div>
        <!-- fine container -->
    </div>
    <!-- fine background -->



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>